body {
  width: 80vw;
  border: 2px solid red;
}
p {
  /* border: 2px solid red; */
}

.nav-links {
  /* border: 2px solid green; */
}

a[target] {
  color: red;
}

a[target="_blank"] {
  color: green;
}

#heading {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: underline;
  /* Converting px to rem => 28px / 16px = 1.75rem */
  font-size: 1.75rem;
  text-align: center;
}
.main-paragraphs {
  font-size: 20px;
}
.main-paragraphs p {
  font-size: 1em;
}

.image-container {
  width: 500px;
  /* border: 2px solid red; */
}
.image-container img {
  width: 80%;
}
/* vw - view width , vh - view height */
